{%- set object_context = object ?? {} -%}
{%- set object_layout = object_context.layout ?? ('list-' ~ layout) -%}

<div id="flex-objects">
  <div class="text-center">

    Merci de reseigner votre identité pour accéder à votre espace personnel.
  </div>
