{% extends 'partials/base.html.twig' %}

{% set cab_ver = '20260418-11' %}

{% block stylesheets %}
  {{ parent() }}
  {% do assets.addCss('/cabinet/cabinet.css?v=' ~ cab_ver, {priority: 5}) %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% do assets.addJs('https://apis.google.com/js/api.js', {group: 'head', loading: 'defer'}) %}
  {% do assets.addJs('https://accounts.google.com/gsi/client', {group: 'head', loading: 'async'}) %}
  {% do assets.addJs('https://cdn.jsdelivr.net/npm/alpinejs@3/dist/cdn.min.js', {group: 'head', loading: 'defer'}) %}
  {% do assets.addJs('/cabinet/cab-utils.js?v=' ~ cab_ver,      {group: 'bottom', priority: 10}) %}
  {% do assets.addJs('/cabinet/cab-drive.js?v=' ~ cab_ver,      {group: 'bottom', priority: 8}) %}
  {% do assets.addJs('/cabinet/cab-store.js?v=' ~ cab_ver,      {group: 'bottom', priority: 7}) %}
  {% do assets.addJs('/cabinet/cab-components.js?v=' ~ cab_ver, {group: 'bottom', priority: 6}) %}
{% endblock %}

{% block body %}
<section class="cab-section cab-section--app">
  <div class="cab-wrapper">
    <div class="app" id="app" x-data>
      {% include 'partials/cabinet/sidebar.html.twig' %}
      {% include 'partials/cabinet/main.html.twig' %}
    </div>
  </div>
</section>

{% include 'partials/cabinet/modals.html.twig' %}

<script>
  if('serviceWorker' in navigator)
    navigator.serviceWorker.register('/cabinet/sw.js').catch(()=>{});
</script>
{% endblock %}
